@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

*[epub|type~="z3998:letter"]{
	margin: 1em;
}

*[epub|type~="z3998:letter"] + p{
	text-indent: 0;
}

*[epub|type~="z3998:valediction"]{
	text-align: right;
}

*[epub|type~="se:letter.dateline"] p{
	text-indent: 0;
}

*[epub|type~="se:letter.body"]{
	margin: 1em 0;
}

*[epub|type~="se:letter.body"] p:first-child,
.inscription p,
table p{
	text-indent: 0;
}

div.inscription{
	margin: 1em;
}

h3 span:first-child{
	display: block;
}

abbr.postal,
abbr.era{
	font-variant: all-small-caps;
}

abbr.name{
	white-space: nowrap;
}

.algebra{
	font-style: italic;
}

.inscription{
	text-align: center;
	font-variant: small-caps;
}

.signature{
	font-variant: small-caps;
	margin-top: 1em;
	text-align: right;
}

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
}
