@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:valediction"]{
	text-align: right;
}

header[epub|type~="se:letter.dateline"]{
	text-align: left;
	margin-bottom: 1em;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="se:letter.dateline"] p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.inscription p,
table p{
	text-indent: 0;
}

abbr.era{
	font-variant: all-small-caps;
}

.inscription{
	text-align: center;
	font-variant: small-caps;
}

[epub:type~="z3998:signature"]{
	font-variant: small-caps;
}
